/*===============GERAL=================*/
*{
    --color : 219;
    --primary-color : hsl(var(--color), 66%, 21%);

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}

/*===============MENU=================*/
header{
    background-color: var(--primary-color);
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
color: white;
}

header .menu{
    justify-content: space-between;
}

div img{
    display: block;
    width: 100%;
}
/*===============INTRODUCTION=================*/
.apresentacao{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
}
.texto-apresentacao h1{
    color: var(--primary-color);
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao p{
    padding-block: 10px;
}


/*===============ABOUT=================*/

#about{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#about h2{
    font-size: 32px;
    color: var(--primary-color);
    display: flex;
    margin-bottom: 20px;
}

#about h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--primary-color);
}

#about p{
    margin-bottom: 10px;
    width: 90%;
}

#about img{
    width: 420px;
}
/*===============SERVICES=================*/
.container-externo{
    background-color: var(--primary-color);
    
}

#services{
    padding-top: 50px;
    padding-bottom: 80px;
    flex-direction: column;
}

#services h2{
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.list-services{
    display: flex;
    justify-content: space-between;
}

.list-services .item-service{
    text-align: center;
}

.item-service a{
    width: 220px;
    background-color: white;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
}

.item-service p{
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-block: 20px;
}

.item-service img{
    padding-top: 50px;
    width: 80%;
    margin: auto;
}

/*===============Planos=================*/
#planos{
    margin-top: 50px;
    flex-direction: column;
    min-height: 100vh;
}
#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-planos{
    flex: 1;
    border: 5px solid var(--primary-color);
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}
.item-planos .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after{
    content: "";
    background-color: var(--primary-color);
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-planos ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 30px;
}
.item-planos ul li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    margin-right: 5px;
}

/*===============FOOTER=================*/

footer{
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: white;
}

/*===============MOBILE=================*/
@media(max-width: 992px){
/*===============GERAL=================*/
    .flex-container{
        flex-direction: column;
    }
/*===============MENU=================*/

.menu {
    padding-left: 2%;
}

.menu ul li .menuactive{
    padding-inline: 25px;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}


header .list-items{
    max-width: 100vw;
}

#list{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.desactive{
    display: none;
    
}



/*===============APRESENTAÇÃO=================*/
    .apresentacao{
        flex-direction: column-reverse;
        margin-block: 50px;
    }
    .apresentacao .texto-apresentacao{ 
        width: 100%;
        text-align: center;
    }
    .apresentacao .texto-apresentacao h1{
        max-width: 90vw;
        margin-inline: auto;
    }
    .apresentacao a{
        justify-content: center;
        margin-inline: auto;
    }

/*===============ABOUT=================*/
    #about{
        flex-direction: column-reverse;
    }
    #about h2,
    #about p{
        margin-left: 2%;
    }
    #about img{
        min-width: 220px;
        max-width: 100vw;
        margin: auto;
    }
    #services{
        margin-top: 2%;
        text-align: center;
    }
    #services img{
        width: min(30vw, 160px);
        height: min(20vh, 210px);
    }


/*===============SERVICES=================*/
    .list-services{
    flex-direction: column;
    }
    .item-service img{
        width: 50%;
        margin: auto;
    }

/*===============PLANOS=================*/
    #planos h2{
        text-align: center;
        margin-block: 4%;
    }
    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .list-planos .item-planos{
        max-width:  75vw;
        margin: auto;
        width: 100vw;
        margin-bottom: 20px;
    
    }
/*===============FOOTER=================*/
    footer{
        text-align: center;
        line-height: 20px;
        padding-top: 20px;
    }
}
